<template name="data">
	<div class="container">
	<div class="row">
      {{#each iterate_post}}
     
       <div class="col-md-4  img-thumbnail">
          <h3><a href="/single/{{_id}}">{{recipe_title}}</a></h3>
           <img src="{{image_url}}" id="recipe_img" alt="{{recipe_title}}">
          <p>
			  <span class="btn js-like-btn" role="button">Like <i class="fa fa-thumbs-up fa-lg text-mute"></i> {{likes}} </span>
			  &nbsp;
			  &nbsp;
			  &nbsp;
			  <span class="btn js-comment-btn" role="button"><a href="/single/{{_id}}"> Comment</a> <i class="fa fa-comment fa-lg"></i> {{comments}} </span>
          
          </p>
          <h4>
           {{recipe_descr}}
          </h4>
          <footer>{{user_name}}</footer>
       </div>
      
        {{/each}}
        </div>
      </div>
   </template> 
