<head>
  <title>recipe</title>
  <meta charset="utf-8a">
  <meta name="viewport" content="width=device-width, intial-scale=1">
  <link rel="stylesheet" href="bootstrap-social.css">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  </head>

<body>
	
</body>
  

<template name='appLayout'>
	 
 {{> yield 'navbar'}}
 {{> yield 'section'}}
</template>

<template name='navbar'>
<div class="container">
	<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
			<div class="navbar-header">
			<button style="color:white" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#my_nav"><i class="fa fa-braille"></i>Menu</button>	
			 <a class="navbar-brand" a href="/">Recipe Share</a>
			</div>
			<div class="collapse navbar-collapse" id="my_nav">
			  <ul class="nav navbar-nav">
				<li><a href="/"><i class="fa fa-home"></i>Home</a></li>
				<li><a href="/new_post"><i class="fa fa-plus-circle"></i>New post</a></li>
				<li id = "all_post"><a href="/all_posts"><i class="fa fa-globe"></i>All posts</a></li>
				<li><a href="/my_favorites"><i class="fa fa-list"></i>My favorites</a></li>
				<li><a href="/about_us"><i class="fa fa-list"></i>About us</a></li>
				{{#if currentUser}} 
				
				  <li  class="dropdown"><a href="#" class="dropdown" data-toggle="dropdown"><i class="fa fa-eye"></i>{{user_name}} <span class="caret"></span></a>
				  
				  <ul class="dropdown-menu">
				     <li><a href="/my_recipes"><i class="fa fa-gear"></i>My recipes</a></li>
				     <li><a href="/notifications"><i class="fa fa-bell"></i>notifications<span class="badge">{{noti_count}}</span></a></li>
				     <li id="logout"><a href="#"><i class="fa fa-power-off"></i>Logout</a></li>
				     
				    </ul>
				  </li>
			
				{{else}}
				 <li><a data-toggle="modal" href="#login_modal"><i class="fa fa-sign-in"></i>login/register</a></li>
			   {{/if}}
			</ul>
			</div>
        </div>
     
    </nav>
    
   
 </div> 
 <!--//////////////////////////////////////////////////// -->

<!--modal-->
 <div id="login_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
     <div class="modal-content">  
        <div class="modal-header ">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
       <div class="modal-title">
          <h1 bg-success>Login or create an account </h1>
        </div>
        <div class="modal-body">
          <div>
             <form class="container-fluid">
               <div class="row">
                    <label for="Email"><i class="fa fa-user"></i>Email</label>
                     <input type="email" name="user_email" id="user_email" class="form-control" placeholder="yourname@example.com">
                   </div>
                   <br>
                   <div class="row">
                    <label for="Password"><i class="fa fa-lock"></i>Password</label>
                    <input type="password" name="password" id="user_password" class="form-control" placeholder="password" maxLength=8>
               </div> 
             <div class="row">
               <button type="submit" id="submit" class="btn btn-success">Login</button>
               <p id="error_message" class="text-danger"></p>
             </div> 
             </form>
          </div>
        </div>
        <div class="modal-footer">
         <button data-dismiss="modal" class="btn btn-danger">Cancel</button>
         <button class="btn btn-default" id="create_account">Register</button>
      </div>
     </div>
  </div>
  
</div>
<!--end of modal-->
<p style="padding:30px"></p>
</template>

 <template name='post'>
	 
	<div class="container">
      <div class="input-group">
	   <input type="text" name="search" class="form-control" id="search_recipe" placeholder="Type your query here......">
       <span class="input-group-addon btn js-btn-search2">Search</span>
     </div>
    </div> 
	 <br>
   <div class='container'>
     <div class='jumbotron'>
	<div class='row'>	 
	 <div class='note col-sm-4 col-md-4 col-12 text-center' id="j_text">
	    <h3>Welcome to recipe share!</h3>
	 	 <strong>Here you can share your favorites recipes with the world and see how other people feel about it.</strong>
	     <br>
	     <button class="btn btn-default">&raquo;Read more</button>
	   </div>
	   <div class="col-sm-8 col-md-8 col-12">
	     <img src="stock-photo-professional-chef-s-hands-cooking-pasta-on-a-wooden-worktop-with-vegetables-food.jpg" id="j_img" class="img-responsive" alt="image">
	   </div>
	  </div>
	 </div> 
	 <div class='row'>
	  <div class='col-sm-6 col-md-6 col-12'>
	   <img class='slide img-responsive' src='img1.jpg'>
	  </div>
       <div class='col-md-6'>
	     <h2>Top viewed</h2>
		 <p>
		   Here, is where the most viewd recipe will be placed,the recipe post will be by 
		   about how many views, likes and comments. the recipe image placed on the left-corner while 
		   the author name placed on the bottom. 
		  <br>
		   <div class="bottom_p">
		     <span class="btn" role="button">200 Likes</span><span class="btn" role="button"> 230 comments</span>
		   </div>
		  <br><br>
		  <footer>Author name</footer>
		 </p>
	   </div>
    </div>
	<br>
	<br>
	{{>recent}}
	  <footer style="background-color:rgb(10,10,10); color:floralwhite" >
        <div class="container">
            <div class="row" style="padding:20px">             
                <div class="col-6 col-sm-5">
                    <h5>Our Address</h5>
                    <address>
		              12, lumumba  Road<br>
		              Great North Rd, Chingola<br>
		              Zambia<br>
		              <i class="fa fa-phone"></i> +260 9634 95461<br>
		              <i class="fa fa-fax"></i> +260 9634 95461<br>
		              <i class="fa fa-envelope"></i> <a href="mailto:ngandwe199@gmail.com">recipeshare@food.net</a>
		           </address>
                </div>
                <div class="col-sm align-self-center">
                    <div style="text-align:center">
                        <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
                        <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                        <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                        <a class="btn btn-social-icon" href="mailto:ngandwejoshua@gmail.com"><i class="fa fa-envelope-o"></i></a>
                    </div>
                </div>
           </div>
           <div class="row justify-content-center">             
                <div class="col-12 text-center" >
                    <p>© Copyright 2017 Recipe share</p>
                </div>
           </div>
        </div>
	</footer>
  </div>
</template>

