#j_img{
 max-width:100%;
 height:auto;
}
.jumbotron{
 background-color:rgb(10,10,10);
 color:floralWhite;
 padding-bottom:1px;
 padding-top:1px;
}
#j_text{
 position:relative;
 top:100%;
}
.bottom_p{
 background-color:rgb(100,100,200);
 width:270px;
 padding:10px;
 color:floralWhite;
}
#recipe_descr{
  width:100%;
  height:200px;
  resize:none;
}
.bottom_p a{
   color:floralwhite;
}
#res_fnd{
 display:none;
}
#recipe_img{
 max-width:300px;
 height:auto;
 display:inline-block;
 margin:5px;
}
#single_image{
max-width:798px;
height:auto;
}
#comment_panel{
width:100%;
height:200px;
resize:none;
}
#com{
 width:100%;
 border:1px solid grey;
 padding:10px;
 margin-bottom:7px;
}

