<template name="my_favorites">
 
  <div class="container">
	  <h1 class="text-primary"> My recipes </h1>
	  
      {{#each favorites}}
     
       <div class="col-md-4  img-thumbnail">
          <h3>{{recipe_title}}</h3>
           <img src="{{image_url}}" id="recipe_img" alt="{{recipe_title}}">
          <p>
			  <span class="btn js-like-btn" role="button">Like <i class="fa fa-thumbs-up fa-lg text-mute"></i> {{likes}} </span>
			  &nbsp;
			  &nbsp;
			  &nbsp;
			  <span class="btn js-comment-btn" role="button">Comment <i class="fa fa-comment fa-lg"></i> {{comments}} </span>
          
          </p>
          <h4>
           {{recipe_descr}}
          </h4>
          <footer>{{author}}</footer>
            </div>
        {{/each}}
        </div>
        

</template>
