<template name="newp">
  <div class="container">
	 {{#if currentUser }}
	  {{else}}
	  <h4 class="text-danger">Please you must login before you can post <a data-toggle="modal" href="#login_modal">click here</a></h4>
	 {{/if}} 
    <h2>Posting a new recipe</h2>
    <h5>set who can see and comment on your post</h5> 
    <select id="option">
     <option>All users</option>
     <option>Registered users only</option>
     <option>Only me</option>
    </select>
    <p id="not" class="text-danger">
     registered users and non-registred can comment on your post
    </p>
  <br>
   <form class="container"> 
   <div class="row">
     <div class="col-12">
       <label class="" for="recipe_name">Recipe Name</label>
     </div>     
<input type="text" id ="recipe_title" class="form-control" name="recippe_name" placeholder="Enter recipe name"> 
   </div>
  <div class="row">
    <label for="recipe_description" >Recipe Description</label><br>
      <textarea id="recipe_descr" spellcheck="true"></textarea><br>
      <p class="text-success">words, not more than 300 words</P>
   </div>
   <div class="row"> 
       <label for="imgage url">Recipe image </label><br>
       <input type="text" id="image_url" class="form-control" name="image_url_name" placeholder="copy and paste   image url here.....">
   </div>
<br>
  <div class="row">
     <input type="submit" id="create_post" btn-type="submit" class="btn btn-success btn-block">   
  </div>
  <p id="user_not" class="text-danger"></p>
   </form>
  </div>
</template>
