<template name="notifications">	
  <div class="container">
	   {{#if currentUser}}
	   <h1 class="text-primary">Notifications</h1>
         {{#each owner_post_likes}}
         <p>{{who_liked}}</p>
         <p>{{who_commentedS}}</p>
         {{/each}}
        {{else}}
          <h1>You must login first <a data-toggle="modal" href="#login_modal">click here to login</a></h1>
        {{/if}}
  </div>
</template>
