<template name="recent">
	<h2>Recent added</h2>
	<hr>
	{{#each recent_post}}
	<div class='row' id='posts'>
	 <h4>{{recipe_title}}</h4>
	   <div class='col-md-5 col-12'>
	      <img src="{{image_url}}" id="recipe_img" alt="{{recipe_title}}">
	   </div>
	   <div class='col-md-7 col-12'>
	      <p>
            {{recipe_descr}}
            
             
		  <br>
		   <div>
             <p>
			  <span class="btn js-like-btn" role="button">Like <i class="fa fa-thumbs-up fa-lg text-mute"></i> {{likes}} </span>
			  &nbsp;
			  &nbsp;
			  &nbsp;
			  <span class="btn js-comment-btn" role="button">Comment <i class="fa fa-comment fa-lg"></i> {{comments}} </span>
          
          </p>
		   </div>
		  <br><br>
		  <footer>{{author}}</footer>
		 </p>
	   </div>
	</div>
	{{/each}}
	</template>
