<template name="register">
	
      <div class="jumbotron">
	  <div class="container">
        <h1>Welcome to recipe share registration form!</h1>
        <p>Please fill in the information in the below boxes to get on started in posting your own recipes</p>
      </div>
     </div>
   <div class="container">
	   <p class="text-danger" id="error_msg" style="display:none">Errors found, <span id="num_error"> </span> form field were not filled</p>
	   <h4 class="text-warning">Pleas make sure to fill in the information before submiting</h4>
	   <br>
	   <form class="form-vertical">
	    <label for="first">First Name</label>
	    <input type=text class="form-control" id="first_name" name="first_name" required placeholder="First name">
	    <label for="first">Last Name</label>
	    <input type=text class="form-control" id="last_name" name="first_name" required placeholder="Last name">
	    <label for="first">Email</label>
	    <input type=email class="form-control" id="email" name="email" required placeholder="email@example.com">
	    <label for="first">Confirm Email</label>
	    <input type=email class="form-control" id="email_confirm" name="confirm_email" required placeholder="email@example.com">
	    <label for="first">Professional</label>
	    <input type=text class="form-control" id="proffesional" name="professional" required placeholder="Chef or Cooker or anything">
	    <label for="first">Sex</label>
	    <br>
	    <select id="sex_type">
	     <option>Male</option>
	     <option>Female</option>
	    </select>
	    <br>
	    <label for="first">Password</label>
	    <input type=text class="form-control" id="pass_word" name="pass" required placeholder="password">
	    <label for="first">Confirm Password</label>
	    <input type=text class="form-control" id="confirm_pass" name="confirm_pass" required placeholder="confirm password">
	    <input type=submit name="submit" class="btn btn-success js-reg" role="submit" value="Register">
	   
	   </form>
  </div>
</template>
