<template name="search">
	<div class="container">
      <div class="input-group">
	   <input type="text" name="search" class="form-control" id="search_recipe" placeholder="Type your query here......">
       <span class="input-group-addon btn js-btn-search">Search</span>
     </div>
      <br>
      <h4 id="res_fnd">Results found:<span id="res_f"></span></h4>
      
     <br>
    </div> 
 </template>
