<template name="single_post">
	<div class="container">
    <h3>{{recipe_title}}</h3>
    {{_id}}
         <img src = "{{image_url}}" alt="{{recipe_title}}" id="single_image" class="img-responsive">
            <p>
             <span class="btn js-like-btn" role="button">Like <i class="fa fa-thumbs-up fa-lg text-mute"></i> {{likes}} </span>
			  &nbsp;&nbsp;&nbsp;
			  <span class="btn js-comment-btn" role="button"> Comment <i class="fa fa-comment fa-lg"></i> {{comments}}</span>
			   <button id="del_rem" class="btn btn-danger btn-sm">Add to favorites list</button>
			  </p>
			  {{#each loop_com}}
			  <div class="text-mute bg-primary" style="padding:7px; margin-bottom:7px">
				
				<h2><span><i class="fa fa-user-circle fa-lg"></i></span>{{user}}</h2>  
			    <span><i></i></span><h4>{{comment}}</h4>
			    <i>Name{{author}}</i>
		
	       	  </div> 
	       	  
	       	  {{/each}}
	      <form class="form">  	  
		  <textarea id="comment_panel" autofocus spellcheck=true required>
			  
		  </textarea><br><br>
	     <button name="Comment!" class="btn btn-success js-comment-btn">Comment!</button>
	    </form>
	  </div>
</template>
